body, h1{
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.5;
}

h1{
    letter-spacing: 2px;
    font-size: 50px;
    font-weight: 400;
    margin-bottom: 0px;
}

p, li, i{font-size: 20px;}  

li{
    margin-bottom: 15px;
}

.subtitle{
    color: #006EB6;
    letter-spacing: 3px;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: lightgray;
    margin-top: 10px;
    margin-bottom: 50px;
}

.title{
    text-align: center;
    text-transform: uppercase;
}

.everything{
    max-width: 600px;
    margin: auto;   
    margin-top: 50px;
    margin-bottom: 50px;
}

.logo{
    display: block;
    width: 150px;
    height: auto;
    margin: 70px auto 10px auto;
} 

.dark{
    background-color: #333;
    color: white;
}

.dark .subtitle{
    color: #4F9ACF;
}